name: "Terraform CD"

on:
  push:
    branches:
      - main  # Se activa al subir cambios a la rama main

permissions:
  contents: read
  id-token: write   # OBLIGATORIO para la conexión segura sin llaves

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Autenticación con Google (Usando tu configuración federada)
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          # Usamos el PROJECT NUMBER para el Pool (Google lo prefiere así)
          workload_identity_provider: 'projects/156352841902/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          # Usamos el PROJECT ID para la cuenta de servicio
          service_account: 'github-actions-sa@compact-env-197522.iam.gserviceaccount.com'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -input=false